# late_deliveries_pred/eda_report_html
late_deliveries_pred/exploration.ipynb
late_deliveries_pred/result1,Naive.jpg
venv
data/brazil_ecom/
notebooks/preprocessing.ipynb
notebooks/training_new.ipynb
notebooks/training.ipynb
late_deliveries_pred
config.yaml
.env
ecom_dataset.7z
logs